{% extends "base.html" %}
{% load static %}
{% block title %}
IMRT Blog
{% endblock %}
{% block head %}
    <meta property="og:site_name" content="imrt">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:title" content="imrt - kerala Web.">
    <meta property="og:description" content="Desenvolvimento Web com Django, SQL e Bootstrap.">

{% endblock %}
{% block main %}
<section>
    
        








<div class="blog-card spring-fever">
  <div class="title-content">
 <h1>  <img width="100" height="100" src="{% static "images/2.png" %}" alt="logo" >
IMRT Kerala</h1>
  </div>
  <div class="card-info">
    The Institute of Mathematics Research and Training(IMRT) is aimed at encouraging and promoting
facilities for fundamental research in the various branches of mathematical sciences including pure math-
ematics, applied mathematics, statistics, computer sciences, information technology, theoretical physics
and other related sciences.
    <a href="{% url "blog:about" %}">Read More<span class="licon icon-arr icon-black"></span></a>
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <li><span class="licon icon-like"></span><a href="#">Everything Around Us is Numbers</a></li>
     
    </ul>
  </div>
  <div class="gradient-overlay"></div>

</div>

<br>
<br><br>
<br>
<br><br><br>
<br><br>
<br>
<br><br>
<br>
<br><br><br>
<br><br>
<br>
<br>
<br>
<br>



<div class="row">
  <div class="col-sm-12">

  <div class="blog-card1">
  <div class="photo photo1"><img width="500" height="500" src="{% static "images/2.png" %}" alt="logo" ></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>



<div class="blog-card1 alt">
  <div class="photo photo2"></div>
  <ul class="details">
    <li class="author"><a href="#">Jane Doe</a></li>
    <li class="date">July. 15, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>


 <div class="blog-card1">
  <div class="photo photo1"></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>

            
      </div>
    </div>

     
</section>
{% endblock %}
