{% extends 'base.html' %}
{% load bootstrap3 %}

{% block main %}
<section>
    <div>
        <div class="row">
           
            <div class="col-xl-7 col-lg-9 col-md-9 col-sm-12">
              <h2>STUDENT REGISTRATION</h2>
  <form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "log-in" %} Submit
  </button>
  {% endbuttons %}
  </form>
   </div>
        </div>
</section>
<script>
    window.onload = function() {
        $("#id_phone").attr('type', 'number');
    }
</script>
{% endblock %}
